!!!
%html
  %head
    %title AutocompleteDemo
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "//code.jquery.com/ui/1.8.24/themes/base/jquery-ui.css"
    = javascript_include_tag "application"
    = javascript_include_tag "//raw.github.com/socialcast/jquery.ui.autocomplete.localcache/master/jquery.ui.autocomplete.localcache.js"
    = csrf_meta_tags
  %body
    = yield
